## Notebook to Clean Data 

Notebook used to clean the company names

In [7]:
import pandas as pd 
from fuzzywuzzy import fuzz

In [2]:
# load in data 
df = pd.read_csv('kaggle_data.csv')
df.head(3)

,rank,tier,url,job,location,title,company,country
0,1,grandmaster,/philippsinger,Senior Data Scientist at H2O.AI,"Vienna, Vienna, Austria",Senior Data Scientist,H2O.AI,Austria
1,2,grandmaster,/wowfattie,Data Scientist at H2O.ai,"New York, New York, United States",Data Scientist,H2O.ai,United States
2,3,grandmaster,/christofhenkel,Deep Learning Data Scientist at Nvidia,"Munich, Bavaria, Germany",Deep Learning Data Scientist,Nvidia,Germany

In [5]:
# clean company names
df['company'].replace("H2O ai", 'H2O.AI', inplace = True)
df['company'].replace("H2O", 'H2O.AI', inplace = True)
df['company'].replace('Nvidia (Rapids.ai)', 'Nvidia', inplace = True)
df['company'].replace('NVIDIA', 'Nvidia', inplace = True)
df['company'].replace('SamsungSDS', 'Samsung Electronics', inplace = True)
df['company'].replace('the University of Tokyo', 'University of Tokyo', inplace = True)
df['company'].replace('The University of Tokyo', 'University of Tokyo', inplace = True)
df['company'].replace('Univercity of Tokyo', 'University of Tokyo', inplace = True)
df['company'].replace('DeNA / Mobility Technologies', 'DeNA/Mobility Technologie', inplace = True)
df['company'].replace('DeNA/Mobility Technologies', 'DeNA/Mobility Technologie', inplace = True)
df['company'].replace('Recruit Co., Ltd.', 'Recruit Co. Ltd', inplace = True)
df['company'].replace('Recruit', 'Recruit Co. Ltd', inplace = True)
df['company'].replace('Mail Ru Group', 'Mail.ru Group', inplace = True)
df['company'].replace('Layer6 AI', 'Layer6AI', inplace = True)
df['company'].replace('layer6 ai', 'Layer6AI', inplace = True)
df['company'].replace('Tata Consultancy Services Ltd', 'Tata Consultancy Services', inplace = True)
df['company'].replace('idrive AI', 'IdriveAI', inplace = True)
df['company'].replace('preferred networks, inc.', 'preferred networks', inplace = True)
df['company'].replace('nvidia ai infrastructure', 'Nvidia')
df['company'].replace('Mail.Ru', 'Mail.ru Group', inplace = True)
df['company'].replace('Amazon Web Services', 'Amazon', inplace = True)
df['company'].replace('Microsoft Research Asia', 'Microsoft', inplace = True)
df['company'].replace('DeNA/Mobility Technologie', 'dena', inplace = True)

In [202]:
# look for matches that I may have missed using Fuzzy Wuzzy 
for company in df['company'].dropna().unique():
    for company2 in df['company'].dropna().unique():
        Ratio = fuzz.ratio(company.lower(),company2.lower())
        if (Ratio >= 90) & (Ratio < 100):
            print(company, company2, Ratio)

In [148]:
# companies to drop 

companies_to_drop = ['unknown', 'home', 'japan', 'kaggle', '.', 'japanese company', 'nowhere', '...', 'self-employed',
                    'none', 'night', 'howarts', 'university', 'it company', 'bank', 'tokyo', 'hogwarts',
                    'beijing', 'consultant', '-', 'freelance', 'deep learning', 'tech company', 'automotive industry',
                    'private', 'freelancer', 'pharmaceutical company', 'somewhere', 'xxx', 'china', 'earth',
                    'a company', 'healthcare', '403', 'human being', 'artificial intelligence lab',
                    '(-(-_(-_-)_-)-)', 'free lancer', 'my home', 'a', 'o', 'o.o', '-----', 'z', '_',
                    'ml startup', 'a software company', 'high school', '..', 'university hospitals', 'nan',
                    'myself', 'stealth', 'stealth mode startup', 'quant', 'private company',
                    'life insurance company', ')', 'business school', 'ny', 'void*', 'a stealth fintech startup',
                    'automotive components manufacturer', 'my free time', 'ml research', 'school',
                     'a consulting firm', 'deeply reinforced nets', 'a media company', '__self__',
                    'research & technologies company', 'fb.me/thaikeras', 'toronto', 'consulting company', 'work',
                    'singapore', 'general hospital', 'cat cafe', 'fintech', 'berlin', 'kaggle / codeforces',
                    'financial company', 'retired', '---', 'an ads company', 'jananese company', 
                     'entertainment company', 'data science', 'consumer electronics company', 'justforfun',
                    'maternity hospital', 'big tech', 'the universe', 'self', 'looking for teammates',
                    'bay area', '𝓚𝓪𝓰𝓰𝓵𝓮', 'a research institute', 'ad agency', 'null', 'automobile industry',
                    'life', 'us', 'death star', 'in the stomach of mom', 'wherever is needed', 'developer', 
                    'technology company', 's', 'you', 'a joyous amount of tomfoolery', 'it corporation', 
                    '17', 'machine learning', 'tokyo tech', 'japanese traditional company', 'autonomous driving',
                    'automaker', 'some place', 'college', 'medical research institute', '(independent)', 'p',
                    'software house', '🦫', '__', 'marketing company', 'company', 'a scientist', 'a manufacturer',
                    'it vendor']
indices_to_drop = df[df['company'].str.lower().isin(companies_to_drop)].index
df.drop(indices_to_drop, inplace = True)

In [212]:
# save to computer
df.to_csv('cleaned_kaggle.csv', index = False)